<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/semantic.min.js" %}"></script>
    <link REL="SHORTCUT ICON" HREF="{% static "favicon.ico" %}">
    <style>
      .loginCaptcha > input{
        float: none;
        width:50px;
      }
      .loginCaptcha > img{
        float: none;
        margin-top:5px;
      }
    </style>
  </head>
  <body style="background:url(../static/image/login.jpg);margin-top:200px;background-size:cover;height:360px">
    <div class="ui stackable center aligned page grid">
      <div class="fourteen centered wide column">
        <h3 class="ui grey header"><img src="{% static "favicon.ico" %}" class="ui tiny image">广告点击系统</h3>
        <form class="ui large form" method="post" action="{% url "login" %}">
          {% if err_msg %}
            <div class="ui centered card">
              <div class="ui red message">{{ err_msg }}</div>
            </div>
          {% endif %}
          <div class="inline field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" value="" placeholder="用户名">
            </div>
          </div>
          <div class="inline field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" value="" placeholder="密&nbsp;&nbsp;&nbsp;&nbsp;码">
            </div>
          </div>
          <div class="inline field loginCaptcha">
            {{ login_form.captcha }}
          </div>
          <button type="submit" class="ui red submit button">登录</button>
          {% csrf_token %}
        </form>
        <div class="ui divider"></div>
        <div class="footer">
          <label for="" style="color:white">没有账号?</label>
          <button type="button" name="button" class="ui blue mini signup button">注册</button>
        </div>
      </div>
    </div>
{#  <script type="text/javascript" src="{% static "js/login.js" %}"></script>#}
  </body>
</html>
